@import "tailwindcss";

@source "./app";
@source "./lib";
@source "../node_modules/@sbd";

@theme {
  --font-kanit: 'Kanit', sans-serif;
}

/* Shell layout active menu item */
.active-menu-item {
  background-color: rgb(30 41 59 / 0.7);
  color: white;
  border-left: 3px solid rgb(129 140 248);
}
.active-menu-item span:first-child {
  background-color: rgb(99 102 241);
  color: white;
}
